<div *ngIf="Employee && Positions">
  <div style="padding: 0; margin: 0 0 0 25%;">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{{ImgPath}}" alt="" width="420">
      <div *ngIf="Edit" class="custom-file col-lg-6 col-md-9">
        <input type="file" class="custom-file-input" accept="image/x-png,image/gif,image/jpeg">
        <label class="custom-file-label">Choose file</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Employee Info</h4>
        <form class="needs-validation" novalidate="">

          <div class="row">
            <div class="col-md-4 mb-3">
              <label>First name</label>
              <input [disabled]="!Edit" type="text" class="form-control" placeholder="Ivan" value="{{Employee.FirstName}}">
            </div>
            <div class="col-md-4 mb-3">
              <label>Last name</label>
              <input [disabled]="!Edit" type="text" class="form-control" placeholder="Ivanov" value="{{Employee.LastName}}">
            </div>
            <div class="col-md-4 mb-3">
              <label>Sur name</label>
              <input [disabled]="!Edit" type="text" class="form-control" placeholder="Ivanovich" value="{{Employee.SurName}}">
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 mb-6">
              <label>Chief</label>
              <div style="background-color: #e9ecef;" class="form-control">{{Employee.Chief.FirstName}} {{Employee.Chief.LastName}} {{Employee.Chief.SurName}}</div>
            </div>
            <div class="col-md-4 mb-3">
              <label>ChiefID</label>
              <input [disabled]="!Edit" type="number" min="1" class="form-control" placeholder="" value="{{Employee.Chief.EmployeeID}}">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-6">
              <label>Position</label>
              <div style="background-color: #e9ecef; text-align: center;" class="form-control">{{Employee.Position}}</div>
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-md-8 mb-6">
              <label>Employment Date</label>
              <input [disabled]="!Edit" type="datetime-local" class="form-control" placeholder="" value="{{Employee.EmploymentDate}}">
            </div>
            <div class="col-md-4 mb-3">
              <label>Salary</label>
              <input [disabled]="!Edit" type="number" min="1000" step="1000" class="form-control" placeholder="100000" value="{{Employee.Salary}}">
            </div>
          </div>

          <div *ngIf="isAuthorized" class="row" style="margin-top: 10px; margin-bottom: 30px">
            <div class="col-md-4">
              <button class="btn btn-primary btn-lg btn-block" (click)="onEdit()">Edit</button>
            </div>
            <div class="col-md-4">
              <button [disabled]="!Edit" class="btn btn-warning btn-lg btn-block">Update</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-danger btn-lg btn-block" (click)="onDelete()">Delete</button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
