<div *ngIf="Employee && Positions">
  <div class="center-margin">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{{ImgPath}}" alt="" width="420">
      <div *ngIf="Edit" class="custom-file col-lg-6 col-md-9">
        <input id="employeeImage" type="file" class="custom-file-input" accept="image/x-png,image/gif,image/jpeg">
        <label class="custom-file-label">Choose file</label>
      </div>
    </div>

    <div class="row" style="margin-bottom: 80px;">
      <div class="col-md-12 order-md-1">
        <h4 class="mb-3">Employee Info</h4>
        <div class="needs-validation">

          <div class="row">
            <div class="col-md-4 mb-3">
              <label>First name</label>
              <input [disabled]="!Edit" [ngClass]="{ 'is-invalid': FirstNameError }" [(ngModel)]="Employee.FirstName" type="text" class="form-control" placeholder="Ivan">
            </div>
            <div class="col-md-4 mb-3">
              <label>Last name</label>
              <input [disabled]="!Edit" [ngClass]="{ 'is-invalid': LastNameError }" [(ngModel)]="Employee.LastName" type="text" class="form-control" placeholder="Ivanov">
            </div>
            <div class="col-md-4 mb-3">
              <label>Sur name</label>
              <input [disabled]="!Edit" [ngClass]="{ 'is-invalid': SurNameError }" [(ngModel)]="Employee.SurName" type="text" class="form-control" placeholder="Ivanovich">
            </div>
          </div>

          <div *ngIf="isAuthorized" class="row">
            <div class="col-md-8 mb-6">
              <label>Chief</label>
              <div style="background-color: #e9ecef;" class="form-control">{{Employee.Chief.FirstName}} {{Employee.Chief.LastName}} {{Employee.Chief.SurName}}</div>
            </div>
            <div class="col-md-4 mb-3">
              <label>ChiefID</label>
              <input [disabled]="!Edit" [ngClass]="{ 'is-invalid': ChifIDError }" (keyup)="onChiefChange()" [(ngModel)]="Employee.Chief.EmployeeID" type="number" min="1" class="form-control" placeholder="">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-6">
              <label>Position</label>
              <div style="background-color: #e9ecef; text-align: center;" class="form-control">{{getPosition(Employee.PositionID) ? getPosition(Employee.PositionID).Position : ''}}</div>
            </div>
          </div>

          <div *ngIf="isAuthorized" class="row" style="margin-top: 10px">
            <div class="col-md-8 mb-6">
              <label>Employment Date</label>
              <input [disabled]="!Edit" type="datetime-local" [(ngModel)]="Employee.EmploymentDate" class="form-control" placeholder="">
            </div>
            <div class="col-md-4 mb-3">
              <label>Salary</label>
              <input [disabled]="!Edit" (change)="onSalaryChange($event)" [(ngModel)]="Employee.Salary" type="number" min="{{MinSalaryValue}}" max="{{MaxSalaryValue}}" step="1000" class="form-control" placeholder="100000">
            </div>
          </div>

          <div *ngIf="isAuthorized" class="row" style="margin-top: 10px; margin-bottom: 30px">
            <div class="col-md-4">
              <button class="btn btn-primary btn-lg btn-block" (click)="onEdit()">Edit</button>
            </div>
            <div class="col-md-4">
              <button [disabled]="!Edit" class="btn btn-warning btn-lg btn-block" (click)="onUpdateClick()">Update</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-danger btn-lg btn-block" (click)="onDelete()">Delete</button>
            </div>
          </div>

          <div *ngIf="SuccessMessage" class="alert alert-success" role="alert">{{SuccessMessage}}</div>
          <div *ngIf="ErrorMessage" class="alert alert-danger" role="alert">{{ErrorMessage}}</div>

        </div>
      </div>
    </div>

  </div>
</div>
